.sat-list-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
    height: 410px;
}

.sat-list {
    height: 300px;
    overflow: scroll;
}

.sat-list-btn {
    text-transform: none;
    padding: 10px 36px;
    background-color: #282c34;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 10px;
}

.spin-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 370px;
}